# Telegram
TOKEN=
ADMIN_ID=

# База данных
DB_HOST=schedule-postgres
DB_NAME="schedule_db"
DB_PORT=5432
DB_USER="postgres"
DB_PASSWORD="123"

# Мониторинг (опционально)
SENTRY_DSN=

# Прокси (опционально)
PROXY=
VLESS_PROXY=
